@inherits LayoutComponentBase
@inject JsUsers.Services.UserDataService userDataService
@inject IToastService toastService
@using Blazored.Toast.Configuration

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <button type="button" @onclick="LoadData" target="_blank">Load Data</button>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="2"
                SuccessClass="success-toast-override"
                SuccessIconClass="fa fa-thumbs-up"
                ErrorIconClass="fa fa-bug" />

@code{

    private async Task LoadData()
    {
        toastService.ShowInfo("Data loading started 'http://js-assessment-backend.herokuapp.com'");

        JsUsers.Models.ResponseModel result = await userDataService.SaveFromHttpRequestAsync();

        if (!result.IsError)
        {
            toastService.ShowSuccess(result.Message);
        }
        else if (result.IsError)
        {
            toastService.ShowError(result.Message);
        }
    }
}