@inherits LayoutComponentBase
@inject JsUsers.Services.UserDataService userDataService

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <button type="button" @onclick="LoadData" target="_blank">Load Data</button>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{
    private async Task LoadData()
    {
        await userDataService.SaveFromHttpRequestAsync();
    }
}